* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: #cccccc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
}

li {
  width: 100px;
  margin: 0 0 40px 0;
}

li a {
  width: 100px;
  padding: 12px;

  border-radius: 8px;
  background: #222222;
  color: #cccccc;

  text-decoration: none;
  transition: 0.3s;
}

li a:hover {
  border: 2px solid #222222;
  background: #cccccc;
  color: #222222;
}

/* Exercise 1 */

.navigation1 {
  margin: 20px;
  z-index: 1;
}

.absolute {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 10px;
  right: 10px;
}

.square1 {
  width: 900px;
  height: 900px;
  margin: auto;
  background-color: blue;

  z-index: -1;
}

.square2 {
  width: 700px;
  height: 700px;
  margin: auto;
  background-color: red;
}

.square3 {
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: black;
}

.square4 {
  width: 300px;
  height: 300px;
  margin: auto;
  background-color: green;
}

.square5 {
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: yellow;
}

/* Exercise 2 */

.navigation2 {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 50px);

  text-align: center;
  margin: auto;
}

.squares {
  width: 300px;
  height: 300px;

  background-color: black;
}

.left1 {
  position: absolute;
  left: 0;
}

.left2 {
  position: absolute;
  bottom: 0;
}

.right1 {
  position: absolute;
  right: 0;
}

.right2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Exercise 3 */

.navigation3 {
  position: absolute;
  left: calc(50% - 50px);
  bottom: 10px;
}

.container {
  position: static;
  width: 700px;
  padding: 20px;

  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;

  background: #222222;
  color: #d8d8d8;
}

.right {
  text-align: end;
  text-transform: uppercase;

  border-radius: 22px;
}

.second {
  height: 200px;
  overflow-x: hidden;

  border: 2px solid red;
}

/* Exercise 4 */

.square-fourpage {
  position: absolute;

  width: 80px;
  height: 80px;

  background: #222222;
}

.one {
  left: 0;
}

.two {
  left: 90px;
}

.three {
  left: 180px;
}

.four {
  top: 90px;
}

.five {
  top: 90px;
  left: 90px;
}

.six {
  top: 180px;
}

.seven {
  right: 0;
  bottom: 0;
}

.eight {
  right: 0;
  bottom: 90px;
}

.nine {
  right: 0;
  bottom: 180px;
}

.teen {
  right: 90px;
  bottom: 0;
}

.eleven {
  right: 180px;
  bottom: 0;
}

.twelve {
  bottom: 90px;
  right: 90px;
}
